body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px;
  color: black;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

.logo {
  width: 7%;
  border-radius: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mininum {
  color: darkgrey;
  font-size: 12px;
}

.currentemp {
  font-weight: 600;
  font-size: 48px;
  text-align: right;
  position: relative;
  bottom: 55px;
}

.row {
  text-align: center;
}

.dow {
  color: darkgrey;
  font-size: 12px;
  margin-bottom: 66px;
}

.hilow {
  color: #ab179a;
  font-size: 14px;
  position: relative;
  top: 30px;
}

.tempicon {
  color: darkgrey;
  font-size: 70px;
  position: relative;
  top: 15px;
}

#submitbu {
  color: white;
  background: #ab179a;
  border: #ab179a;
  border-radius: 5%;
}

.containter {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

.weather-panel {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ab179a;
  border-radius: 5px;
}
